<h1 class="mt-5 mb-5">My Drive</h1>

<nav>
  <ul>
    <li><a routerLink="/"><i class="fa-solid fa-house"></i> HOME</a></li>
    <li><a routerLink="/mydrive"><i class="fa-sharp fa-solid fa-hard-drive"></i> MY DRIVE</a></li>
    <li><a routerLink="/upload"><i class="fa-solid fa-cloud-arrow-up"></i> UPLOAD FILE</a></li>
    <li>
      <a style="cursor: pointer;"><i class="fa-solid fa-user"></i>PROFIL</a>
      <ul class="submenu">
        <li><a style="text-decoration: line-through;"><i class="fa-solid fa-lock"></i> EDIT</a></li>
        <li><a style="text-decoration: line-through;" ><i class="fa-solid fa-lock"></i> VIEW</a></li>
        <li><a routerLink="/logout"><i class="fa-solid fa-right-from-bracket"></i> LOGOUT</a></li>
      </ul>
    </li>
  </ul>
</nav>
